<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card card-body">
    <h1 class="card-title">Name: {{ cat.name }}</h1>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description }}</p>
        {% if cat.age > 0%}
            Age: {{ cat.age }}</p>
        {% else %}
            <p>Age: Kitten</p>
    {% endif %} 

    {% for toy in cat.cattoys.all %}
        <p>Toys: {{ toy }}</p>
    {% empty %}
        <p>Cat has no toys</p>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'cats_update' cat.id %}">Update Details </a> 
    <a class="btn btn-danger" href="{% url 'cats_delete' cat.id %}">Delete Cat </a> 
</div>

{% endblock %}
